.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 20px 0px;
  border-bottom: 3px ridge;
}
.row-footer {
  margin: 0px auto;
  padding: 10px 0px;
  background-color: #AfAfAf;
}
.jumbotron {
  margin: 0px auto;
  padding: 10px 10px;
  background: #7986CB;
  color: floralwhite;
}
.carousel {
  background: #1a237e;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.navbar-inverse {
  background: #303f9f;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}

#allowEdit {
  .hidden-sm-down
}

.help-block {
  color : #a11212;
}

.glyphicon-refresh-animate {
    -animation: spin 1.2s infinite linear;
    -ms-animation: spin 1.2s infinite linear;
    -webkit-animation: spinw 1.2s infinite linear;
    -moz-animation: spinm 1.2s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
