 <div class="container">
   <div class="row row-content">
    <div class="col-xs-12">
       <h3>About </h3>
       <p style="padding:5px;"></p>
   </div>
   <div class="col-xs-12 col-sm-12">
    <p>Dragon Fare Scanner was created to supplement <a href="https://www.southwest.com"> Southwest Airline's website</a>. Southwest famously doesn't share their prices on Kayak or almost any other airfare search or alerting sites. </p>
    <p style="padding:20px;"></p>
    <h4> <a ui-sref="app.refund"> Flight Refund Scanner</a> </h4>

    <p> Input your southwest flight information and the Dragon will periodically scan flight prices. An email will be sent to you if the price goes down and you can watch how the flight price changes over time. Check out this article explaining how to get your $ or points back if the price of your flight goes down: <a href= "http://dealswelike.boardingarea.com/2014/02/28/if-a-southwest-flight-goes-down-in-price/"> Refund Instructions </a> </p>
    <p>Another way to use this app is to input flights that you are considering buying but are too expensive. Just set the cost of your flight to the price you are willing to pay and you will receive an email if that flight's price drops to your desired cost. </p>
    <p style="padding:20px;"></p>
    <h4> <a ui-sref="app.checkin"> Automatic Check-In  </a> </h4>
    <p> This feature is under development. </p>
    <!-- <p> If you have input your confirmation number, the app will also automatically check you in to your flight, excactly 24 hours before the flight. </p> -->
</div>
</div>
<div class = "row row-content">
    <div class="col-xs-12">
       <h3>Inspiration </h3>
   </div>
   <p style="padding:35px;"></p>
   <div class="col-xs-12 col-sm-9">
    <div class="well">
        <blockquote>
            <p>No I don't eat dragon, cause, uh, it's not a meal for peasants, it's a meal for kings, and I'm sort of a common man. But they don't eat us, it's a common misconception. They actually eat gold and treasure -- that's why they're always sitting on a pile of it.</p>
            <footer>Charlie Kelly, 
                <cite title="Source Title"> It's Always Sunny in Philadephia</cite></footer>
            </blockquote>                
        </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <img src="app/images/charlie.jpg" class="img-responsive" height="80">
  </div>
</div>
<div class = "row row-content">
    <div class="col-xs-12">
        <h3>Contact</h3>
        <p style="padding:5px;"></p>
        <p>Questions/Comments:
            <a class="btn btn-social-icon" href="mailto:dragonfarescanner@gmail.com"><i class="fa fa-envelope-o"></i></a>
        </p>  
    </div>
</div>
<div class = "row row-content">
    <div class="col-xs-12">
        <h3>Disclaimer</h3>
        <p style="padding:5px;"></p>
        <p>At any time, Southwest may change the format with which they publish their flight prices on their website. This could result in the web app breaking and a required maintenance period. 
        </p>  
    </div>
</div>
</div>

<footer class="row-footer">
<h4 align = "center">Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2016, Chris Lauinger</h4> 
</footer>