 <div class="container">
    <div class="row">
        <div class="col-xs-12">
         <ul class="breadcrumb">
             <li><a ui-sref="app">Home</a></li>
             <li class="active">About Us</li>
         </ul>
     </div>
     <div class="col-xs-12">
         <h3>About Us</h3>
         <hr>
     </div>
 </div>
 
 <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
        <p>The Southwest Fare Saver web app was created to supplement <a href="https://www.southwest.com"> Southwest's website</a>. The app will check for <a ui-sref="app.refund"> refunds </a> on flights you have already booked to see if they get any cheaper. Current Southwest policy allows you to rebook a flight and keep the difference in price. The app will also automatically <a ui-sref="app.checkin"> check you in </a> for flights, excactly 24 hours before the flight so you can get at the front of the "A" boarding group</p>
        <p style="padding:20px;"></p>
        <div class="well">
            <blockquote>
                <p>A man is rich in proportion to the number of things he can afford to leave alone</p>
                    <footer>Henry David Thoreau, 
                        <cite title="Source Title"> Walden</cite></footer>
                    </blockquote>                
                </div>

            </div>
        </div>
            <div class="col-xs-12">
                <h3>Developer</h3>
                <p>Chris Lauinger </p>
                <p>Questions/Comments:
                <a class="btn btn-social-icon" href="mailto:southwestfaresaver@gmail.com"><i class="fa fa-envelope-o"></i></a>
                </p>  
                </div>
</div>